<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcc.compare">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".activity.base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_compare"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_compare"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StaticNameListActivity" />
        <activity
            android:name=".activity.CompareRecordDetailActivity"
            android:label="@string/title_activity_record_show"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UpgradeActivity"
            android:label="@string/title_activity_upgrade"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CompareRecordActivity"
            android:label="@string/title_activity_record"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ItemStudentDetailActivity"
            android:label="@string/title_activity_item_student"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>